{
  "printWidth": 140,
  "tabWidth": 4,
  "useTabs": true,
  "arrowParens": "always",
  "parser": "typescript",
  "trailingComma": "all",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "parser": "json"
      }
    }
  ]
}
