@tailwind components;
@tailwind utilities;

@property --fit-len {
    syntax: "<length>";
    inherits: false;
    initial-value: 1px;
}

@property --fit-w {
    syntax: "<length>";
    inherits: true;
    initial-value: 1px;
}

@property --fit-h {
    syntax: "<length>";
    inherits: true;
    initial-value: 1px;
}

@property --sx {
    syntax: "<number>";
    inherits: false;
    initial-value: 1;
}