$data-full-sp-1: hsl(267.3913043478, 96.8421052632%, 62.7450980392%);
$data-full-sp-2: hsl(297.3913043478, 70.3056768559%, 55.0980392157%);
$data-full-sp-3: hsl(351.4285714286, 100%, 65.6862745098%);
$data-full-sp-4: hsl(13.3333333333, 92.7835051546%, 61.9607843137%);
$data-full-sp-5: hsl(31.9444444444, 98.1818181818%, 56.862745098%);
$data-full-sp-6: hsl(51.3333333333, 78.9473684211%, 55.2941176471%);
$data-full-sp-7: hsl(98.0392156863, 71.8309859155%, 58.2352941176%);
$data-full-sp-8: hsl(163.0985915493, 100%, 41.7647058824%);
$data-full-sp-9: hsl(198.4232365145, 100%, 47.2549019608%);
$data-full-sp-10: hsl(239.6, 100%, 70.5882352941%);

$data-half-sp-1: hsl(48.764940239, 99.209486166%, 50.3921568627%);
$data-half-sp-2: hsl(36.8609865471, 99.1111111111%, 55.8823529412%);
$data-half-sp-3: hsl(21.8181818182, 88.8888888889%, 61.1764705882%);
$data-half-sp-4: hsl(2.7067669173, 71.1229946524%, 63.3333333333%);
$data-half-sp-5: hsl(337.5539568345, 59.1489361702%, 53.9215686275%);
$data-half-sp-6: hsl(313.8461538462, 66.511627907%, 42.1568627451%);
$data-half-sp-7: hsl(291.1627906977, 64.1791044776%, 39.4117647059%);
$data-half-sp-8: hsl(271.7647058824, 66.6666666667%, 40%);
$data-half-sp-9: hsl(256.9465648855, 69.3121693122%, 37.0588235294%);
$data-half-sp-10: hsl(233.8582677165, 86.3945578231%, 28.8235294118%);

$data-distr-sp-1: hsl(151.8857142857, 94.5945945946%, 36.2745098039%);
$data-distr-sp-2: hsl(176.4705882353, 79.274611399%, 37.8431372549%);
$data-distr-sp-3: hsl(194.3661971831, 98.1566820276%, 42.5490196078%);
$data-distr-sp-4: hsl(266.5648854962, 74.8571428571%, 65.6862745098%);
$data-distr-sp-5: hsl(5.9668508287, 100%, 64.5098039216%);




$zindex-base: 0;
$zindex-graph: 1;
$zindex-above-graph:2;
$zindex-tooltip: 20;
$zindex-sticky: 50;
$zindex-dropdown: 60;
$zindex-overlay: 80;
$zindex-modal: 100;
$zindex-toasters: 120;



