.tooltip {
	display: none;
}

// Object.values on countries in Worldmap.tsx
// more countries coming as haven't properly labelled everything.
$iso-codes: (
		"GF",
		"MT",
		"VU",
		"FK",
		"TL",
		"SZ",
		"XK",
		"PS",
		"BN",
		"PR",
		"LU",
		"SS",
		"CM",
		"BW",
		"CF",
		"DE",
		"YE",
		"OM",
		"CG",
		"LA",
		"SJ",
		"PL",
		"EH",
		"ZW",
		"BY",
		"GR",
		"BF",
		"KG",
		"RO",
		"GN",
		"CI",
		"ER",
		"GY",
		"GA",
		"CU",
		"KP",
		"IS",
		"SY",
		"TJ",
		"NP",
		"UG",
		"TN",
		"GH",
		"UY",
		"BD",
		"SN",
		"MW",
		"KH",
		"HR",
		"AT",
		"NI",
		"HU",
		"BJ",
		"HN",
		"BG",
		"JO",
		"AZ",
		"LR",
		"LV",
		"SR",
		"PT",
		"AE",
		"IE",
		"GE",
		"GT",
		"RS",
		"CZ",
		"KR",
		"PA",
		"LT",
		"EE",
		"DK",
		"NL",
		"SK",
		"CR",
		"BA",
		"MD",
		"SL",
		"SB",
		"CH",
		"TG",
		"LK",
		"DO",
		"AM",
		"BE",
		"IL",
		"NC",
		"FJ",
		"TW",
		"BT",
		"GW",
		"HT",
		"AL",
		"LS",
		"SI",
		"BI",
		"MK",
		"RW",
		"ME",
		"KW",
		"BZ",
		"SV",
		"DJ",
		"BS",
		"GQ",
		"LB",
		"CY",
		"QA",
		"JM",
		"GM",
		"TF",
		"??33",
		"??35",
		"??36",
		"RU",
		"US",
		"CA",
		"CN",
		"BR",
		"GL",
		"AU",
		"IN",
		"ID",
		"AR",
		"KZ",
		"MX",
		"DZ",
		"CD",
		"NO",
		"MN",
		"SA",
		"CL",
		"ES",
		"IR",
		"ML",
		"PE",
		"JP",
		"PK",
		"SD",
		"LY",
		"ZA",
		"CO",
		"NE",
		"SE",
		"MZ",
		"ET",
		"TD",
		"AO",
		"MM",
		"NA",
		"BO",
		"VE",
		"MR",
		"UZ",
		"UA",
		"SO",
		"FR",
		"NZ",
		"AF",
		"IT",
		"PG",
		"PH",
		"TZ",
		"TH",
		"EG",
		"TR",
		"NG",
		"ZM",
		"MY",
		"FI",
		"VN",
		"TM",
		"EC",
		"MA",
		"MG",
		"KE",
		"IQ",
		"PY",
		"GB"
);

/* When a path is hovered, disply: block it's matching tooltip where data-iso iso code matches. */
@each $iso-code in $iso-codes {


	.base:has(svg path[data-iso="#{$iso-code}"]:hover) .tooltip[data-iso="#{$iso-code}"] {
		display: block;
	}

	// the above selector change so that it's .base:hovering on path[data...] SET display:block on any child with .tooltip[data-iso...]


}