.text {
	cursor: default;
	position: absolute;
	transform: translateX(-50%);
	color: red;

	&--rotating {
		writing-mode: vertical-lr;
		align-self: normal;
		transform: rotate(20deg) translateX(50%) scale(-1, -1) translateY(calc(-100% - 5px));
		transform-origin: 0 0;
	}
}