@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 0deg 0% 100%;
    --background-foreground: 200deg 27.27% 97.84%;
    --foreground: 0deg 0% 0%;
    --primary: 347.29deg 47.58% 51.37%;
    --primary-foreground: 14.2deg 70.71% 53.14%;
    --border: 100deg 0% 0%;
  }
  :root[data-theme="dark"] {
    --background: 210deg 22.22% 10.59%;
    --background-foreground: 205.71deg 18.92% 14.51%;
    --foreground: 0deg 0% 100%;
    --primary: 209.65deg 52.15% 31.96%;
    --primary-foreground: 210.5deg 68.97% 65.88%;
    --border: 0deg 0% 100%;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer base {

  * {
    @apply box-border no-underline;
  }

  body {
    @apply h-full w-full overflow-hidden bg-background text-foreground transition-colors duration-200;
  }

}


@keyframes pie-graph-loading {
	0% { fill: #a7a7a7; }
	30% { fill: #cdcdcd; }
	60% { fill: #a7a7a7; }
	100% { fill: #a7a7a7; }
}

@keyframes dark-pie-graph-loading {
	0% { fill: #2d2d2d; }
	30% { fill: #3c3c3c; }
	60% { fill: #2d2d2d; }
	100% { fill: #2d2d2d; }
}